<div class="build-actions">
  <button type="button" {{on "click" this.runBuild}} disabled={{this.disabled}}><FaIcon @icon="file-archive" /> Build Project</button>
  <button type="button" {{on "click" this.toggleLog}} ><FaIcon @icon="list" /> {{this.logBtnLabel}}</button>
</div>

  {{#if showSpinner}}
    <h3>Building...</h3>
    <LoadingSpinner/>
   {{/if}}

   {{#if this.buildReady}}
  <table>
    <thead>
      <th>Asset Name</th>
      <th>Size</th>
      <th>gzipped</th>
      <th>Download Time</th>
    </thead>
    <tbody>
      {{#each this.assets as |i|}}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.size}}</td>
          <td>{{i.gzipSize}}</td>
          <td>
            <a href="#">Show
              <EmberTooltip  @side="right" class="wide-tooltip">
              <SpeedData @data={{i.speeds}}/>
              </EmberTooltip>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
   {{/if}}

{{#if this.showLog}}
<div class="build-log">
  {{#each this.logs as |log|}}
    <p>{{log}}</p>
  {{/each}}
</div>
{{/if}}
