{{#async-await this.items as |items|}}
  <table>
    <thead>
      <th>Package Name</th>
      <th>Installed Version</th>
      <th>Latest Version</th>
      <th>Upgrade?</th>
    </thead>
    <tbody>
      {{#each items as |d|}}
        <tr>
          <td><a href="https://npmjs.com/package/{{d.name}}">{{d.name}}</a></td>
          <td>{{d.version}}</td>
          <td>{{d.latest}}</td>
          <td><SemverBadge @type={{d.diff}}/></td>
        </tr>
      {{/each}}

    </tbody>
  </table>
{{else}}
  <LoadingSpinner />
{{/async-await}}
