<label for="blueprint">Blueprint: </label>
<select id="blueprint" {{on "change" this.updateBlueprint}}>
  {{#each this.blueprints as |b|}}
  <option value={{b.value}}>{{b.title}}</option>
{{/each}}
</select>
<label for="name">Name: </label>
<Input id="name" type="text" placeholder="hello-world" @value={{this.name}}/>
<button type="button" {{on "click" this.runDestroy}}><FaIcon @icon="trash-alt"/> Destroy</button>
<Terminal @command={{this.command}} @task="destroy"/>
