<label for="task">Task: </label>
<select id="task" {{on "change" this.updateTask}}>
  {{#each this.project.tasks as |t|}}
    <option value={{t.name}}>{{t.name}}</option>
  {{/each}}
</select>
<button type="button" {{on "click" this.runTask}}><FaIcon @icon="play"/> Run Task</button>
<p><code>{{this.taskCommand}}</code></p>
<Terminal @command={{this.command}} @task="project"/>
