<button type="button" {{on "click" this.toggleServe}} disabled={{this.disabled}}>
  <FaIcon @icon={{this.icon}}/> {{this.label}}
</button>
<Terminal @command={{this.command}} @task="serve" @callback={{this.socketCallback}} />
