<div class="wrapper">
  <div class="box">
    <div class="input">
    <label for="toversion">To Version: </label>
    <Input class="input-box" type="text" id="toversion" @value={{this.toVersion}}/>
    </div>

    <div class="input">
    <label class="input-label">
      <Input class="input-box" @type="checkbox" {{on 'click' this.toggleResolveConflicts}}/>
      --resolve-conflicts</label>
    </div>

    <div class="input">
    <label class="input-label">
      <Input class="input-box" @type="checkbox" {{on 'click' this.toggleRunCodemods}}/>
      --run-codemods</label>
    </div>
    <div class="input">
    <label class="input-label">
      <Input class="input-box" @type="checkbox" {{on 'click' this.toggleReset}}/>
      --reset</label>
    </div>
    <div class="input">
    <label class="input-label">
      <Input class="input-box" @type="checkbox" {{on 'click' this.toggleCompare}}/>
      --compare-only</label>
    </div>
    <div class="input">
    <label class="input-label">
      <Input class="input-box" @type="checkbox" {{on 'click' this.toggleStats}}/>
      --stats-only</label>
    </div>
    <div class="input">
    <label class="input-label">
      <Input class="input-box" @type="checkbox" {{on 'click' this.toggleListCodemods}}/>
      --list-codemods</label>
    </div>
  </div>
  <div class="terminal">
    <div>
    <button class="button-action" type="button" {{on 'click' this.installEcu }}><FaIcon @icon="download"/> Install ember-cli-update</button>
    <button class="button-action" type="button" {{on 'click' this.runUpdate }}><FaIcon @icon="play"/> Run Update</button>
    <button class="button-action" type="button" {{on 'click' this.resetProject }}><FaIcon @icon="undo"/> Reset Project</button>
    </div>
    <Terminal @command={{this.command}} @task="update"/>
  </div>
</div>
